.idea/.name
.idea/Travian Manager.iml
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/Tests.xml
.idea/runConfigurations/Travian_Manager.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
